#title {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

#search {
    margin-top: 50px;
   
    width: 70vw;
  padding-left: 30vw;

}

tr:nth-child(even) {
    background-color: #f3f3f3;
}

tr:hover {
    background-color: rgb(214, 214, 214);
    color: black;
}

#loading {
    
    width: 5rem;
    height: 5rem;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    visibility: hidden;
}



.container.display {
    visibility: visible;
}

